<!-- Information about home page -->


<h1 align="center" class="display-4">Welcome to the <%= title %> page</h1>
  <div align="center" class="container">

    <h3>This survey website was created by group LCCJM for COMP229</h3>

    


