<!-- Information on contact page  -->
<h1 align="center" class="display-4">Welcome to the <%= title %> page</h1><br>

  <meta charset="utf-8">

  <div class="container" align="center">

    <h3 class="display-5">Find below our personal porfolios.</h3>
    <br>

    <div>
     
    <p> Please, feel free to go through each one of us and enter in contact with the one that most pleases your need.</p>
  </div>
  <br>
  </div>
  <article>
    <div class="contact" align="center">

      <!-- Our contact Information 
      
        We will make this page look better is just an prototype to see if links and stuff work, as it says it does not need to look good
        just functional for now.

      -->
      <div>
     <tr>
       
          <th class="text-center col-3"><i class="far fa-id-card"></i><a href="https://portfolio-assigment.herokuapp.com/" target="_blank"> Luiz </a></th>
          <th class="text-center col-3"><i class="far fa-id-card"></i><a href="https://comp229-week3-example.herokuapp.com/about" target="_blank"> Christina </a></th>
          <th class="text-center col-3"><i class="far fa-id-card"></i><a href="https://comp229-ass1.herokuapp.com/" target="_blank"> Junhong </a></th>
          <th class="text-center col-"><i class="far fa-id-card"></i><a href="https://comp229-assignment.herokuapp.com/" target="_blank"> Carlitos </a></th>
          <th class="text-center col-2"><i class="far fa-id-card"></i><a href="#" target="_blank"> Michael </a></th>        
        </tr>
  </div>
  <br>


  <!-- Go back to home page link -->
<p></p>
  <div align="center">
    <p> If you would like to go back to home page, please click <a href="/home" color=;><b>HERE</b></a></p>
  </div>
