<!-- Information on contact page  -->
<h1 align="center" class="display-4">Welcome to the <%= title %> page</h1>

  <meta charset="utf-8">

  <div class="container" align="center">

    <h3 class="display-5">Click on the link below to view our Contact Details</h3>

  </div>
  <article>
    <div class="contact" align="center">

      <!-- Our contact Information 
      
        We will make this page look better is just an prototype to see if links and stuff work, as it says it does not need to look good
        just functional for now.

      -->

      <!-- Luiz -->
      <p><i class="far fa-id-card"></i> Contact: <a href="https://portfolio-assigment.herokuapp.com/" target="_blank"> Luiz </a>

      <!-- Christina -->
      <p><i class="far fa-id-card"></i> Contact: <a href="https://comp229-week3-example.herokuapp.com/about" target="_blank"> Christina </a>

      <!-- Junhong -->
      <p><i class="far fa-id-card"></i> Contact: <a href="https://comp229-ass1.herokuapp.com/" target="_blank"> Junhong </a>

      <!-- Carlitos -->
      <p><i class="far fa-id-card"></i> Contact: <a href="https://comp229-assignment.herokuapp.com/" target="_blank"> Carlitos </a>

      <!-- Michael -->
      <p><i class="far fa-id-card"></i> Contact: <a href="#" target="_blank"> Michael </a>

  <!-- Go back to home page link -->

  <div align="center">
    <p> If you would like to go back to home page, please click <a href="/home" color=;><b>HERE</b></a></p>
  </div>

