<!-- Information about home page -->

  <div class="position-relative text-center" >
    <br><br><br><br><br><br><br><br><br><br><br><br><br>


    <div class="overlay">
    
      <h1 id="home-text"><marquee behavior="scroll" direction="left">Welcome to LCCJM Survey Site</marquee></h1></div>
      
      <p class="display-5" style="text-align: center;">
        <b>Start Creating your own Survey by Clicking the button below!
        <br> You may also checkout our existing Survey</b>
      </p>

    </div>
  </div>


  <div class="btn-center">
    <a href="/survey-list/add" class="btn btn-primary" role="button">
      <i class="fas fa-plus-circle"></i> Create a Survey</a>

    <a href="/survey-list/participate" class="btn btn-primary" role="button">
      <i class="fas fa-list"></i> Participate to Surveys</a>
  </div>
</div>
</div>



<%- include partials/footer_nav.ejs%>
  <%- include partials/scripts_nav.ejs%>