
<!-- Information about home page -->
    

  <div align="center" class="container">

        <h1>LCCJM Survey Site </h1>
    <h2><span>Welcome everyone!</span></h2>
   

    <div>
      <p class="display-5">Fell free to navigate through our surveys!</p>


    <main class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <br>
          <table class="table table-bordered table-striped table-hover">
            <!-- Header Row -->
            <tr class="d-flex">
              <th class="text-center col-2">No. of Survey</th>
              <th class="text-center col-5">Survey Description</th>
              <th class="text-center col-3">Survey Author</th>
              <th class="text-center col-2">Answer</th>
            </tr>
          </table>
    </main>
  </div>

  


  <%- include partials/footer_nav.ejs%> 