
<!-- Information about home page -->
  <div>
    <div class="position-relative text-center">
      <video width="840" height="475" src="/assets/videos/background.mp4" autoplay muted loop>
        Your browser does not support the video tag
      </video>
      <div class="overlay">
        <h1 id="home-text">Welcome to LCCJM Survey Site</h1>
      </div>
    </div>
  </div>
  <br>
  <div>
    <p class="display-5" style="text-align: center;">
      Start Creating your own Survey by Clicking the button below!
      <br> You may also checkout our existing Survey
    </p>
    <div class="btn-center">
      <a href="/survey-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Create a Survey</a>
  
      <a href="/survey-list/participate" class="btn btn-primary" role="button">
        <i class="fas fa-list"></i> Participate to Surveys</a>
    </div>
  </div>
</div>



<%- include partials/footer_nav.ejs%> 
<%- include partials/scripts_nav.ejs%>