/* custom css goes here */
.overlay
{
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-text
{
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7vw;
    text-align: center;
}
.btn-center
{
    text-align: center;
}